<h2><%= @current_user.first_name %> <%= @current_user.last_name %> 's Home Page </h2>

<ul>
  <% @current_user.groups.each do |group| %>
    <li> Group Name: <%= group.name %>
      <ol>
        <% group.appointments.each do |appointment| %>
        <li> Room: <%= Room.find(appointment.room.id).name %> Start Time: <%= appointment.start_datetime.strftime("%b %d %l:%M %p") %> End Time: <%= appointment.end_datetime.strftime("%l:%M %p") %>
          <form action="/users/<%= @current_user.id %>/appointments/<%= appointment.id %>/edit" method="get">
            <button class="label label-danger" type="submit">Edit</button>
          </form>
          <form method="post" action="/users/<%= @current_user.id %>/appointments/<%= appointment.id %>/delete">
            <input type="hidden" name="_method" value="delete">
            <button class="label label-danger" type="submit">Delete</button>
          </form>
         </li>
        <%end%>
      </ol>
    </li>
  <%end%>
</ul>

<form action="/users/<%= @current_user.id %>/appointments/new" method="get">
  <button class="label label-danger" type="submit">Reserve Room</button>
</form>

