<h2>Appointment</h2>
<form class="form-horizontal" action="/users/<%= params[:id] %>/appointments/new" method="post">

  <!-- Room dropdown -->
  <div class="form-group">
    <label for="room" class="control-label col-sm-2">Room</label>
    <div class="col-sm-6">
      <select id="room" class="form-control" name="room">
        <% @rooms.each do |room| %>
        <option value="<%= room.name %>"><%= room.name %></option>
        <% end %>
      </select>
    </div>
    <!-- Link to Rooms Schedule -->
    <div class="col-sm-2">
      <a href="/users/<%= params[:id] %>/rooms"  target="_blank">See Schedule</a>
    </div>
  </div>

  <!-- Date  -->
  <div class="form-group">
    <label for="date" class="control-label col-sm-2">Date</label>
    <div class="col-sm-6">
      <input id="date" class="form-control" type="date" name="date"/>
    </div>
  </div>

  <!-- Start time -->
  <div class="form-group">
    <label for="start" class="control-label col-sm-2">Start Time</label>
    <div class="col-sm-6">
      <input id="start" class="form-control" type="time" name="start_datetime"/>
    </div>
  </div>

  <!-- End time -->
  <div class="form-group">
    <label for="end" class="control-label col-sm-2">End Time</label>
    <div class="col-sm-6">
      <input id="end" class="form-control" type="time" name="end_datetime"/>
    </div>
  </div>

  <!-- Group dropdown -->
  <div class="form-group">
    <label for="group" class="control-label col-sm-2">Group</label>
    <div class="col-sm-6">
      <select id="group" class="form-control" name="group">
      <% @groups.each do |group| %>
      <option value="<%= group.name %>"><%= group.name %></option>
      <% end %>
      </select>
    </div>
    <div class="col-sm-2">
      <!-- Link to Create Group -->
      <a href="/users/<%= params[:id] %>/groups/new">Create Group</a>
    </div>
  </div>

  <button class="label label-danger" type="submit">Add Appointment</button>

</form>
