<h2>Appointment</h2>
<form class="form-horizontal" action="/users/<%= params[:id] %>/appointments/new" method="post">

  <!-- Room dropdown -->
  <div class="form-group">
    <label for="room" class="control-label col-sm-2">Room</label>
    <div class="col-sm-6">
      <select id="room" class="form-control" name="room">
        <% @rooms.each do |room| %>
        <option value="<%= room.name %>"><%= room.name %></option>
        <% end %>
      </select>
    </div>
    <!-- Link to Rooms Schedule -->
    <div class="col-sm-2">
      <a href="/users/<%= params[:id] %>/rooms"  target="_blank">See Schedule</a>
    </div>
  </div>

  <!-- Date  -->
  <div class="form-group">
    <label for="date" class="control-label col-sm-2">Date</label>
    <div class="col-sm-6">
      <input id="date" class="form-control" type="date" name="date"/>
    </div>
  </div>

  <!-- Start time -->
  <label for="start">Start Time</label><br>
  <input type="time" name="start_datetime"/><br>

  <!-- End time -->
  <label for="end">End Time</label><br>
  <input type="time" name="end_datetime"/><br>

  <!-- Group dropdown -->
  <label for="group">Group</label><br>
  <select id="group" name="group">
    <% @groups.each do |group| %>
    <option value="<%= group.name %>"><%= group.name %></option>
    <% end %>
  </select>

  <!-- Link to Create Group -->
  <a href="/users/<%= params[:id] %>/groups/new">Create Group</a><br>

  <button class="label label-danger" type="submit">Add Appointment</button>

</form>
